.ProductContainer {
  background-color: var(--background) !important;
  color: black;
  padding: 2%;
  width: 100%;
  display: flex;
}

.InnerProduct {
  background-color: var(--background);
  margin-left: 10%;
  margin-right: 3%;
  display: flex;
  flex-wrap: wrap;
  width: 65%;
}

.ProductInfoContainer {
  display: flex;
  width: 100%;
  height: 50%;
  background-color: #a6a6a6 !important;
  color: black;
  border-radius: 12px;
  border-style: double;
  border-color: #5f5f5f;
  border-radius: 12px;
  border-width: 0.2rem;
}

.ProductInfoPocket {
  margin-top: 2%;
  margin-left: 5%;
  padding: 2%;
  text-align: center;
  block-size: 15rem;
  text-align: right;
}

.ProductDescriptionPocket {
  margin-top: 2%;
  background-color: #a6a6a6 !important;
  width: 100%;
  height: 30%;

  padding: 2%;
  border-style: double;
  border-color: #5f5f5f;
  border-radius: 12px;
  border-width: 0.2rem;
  block-size: 15rem;
}

.Competitors {
  width: 25%;
  margin-right: 3%;
  background-color: #a6a6a6 !important;
  border-style: double;
  border-color: #5f5f5f;
  border-radius: 12px;
  border-width: 0.2rem;
}

.addToWishList{
  display: block;
}

.wishListNotice {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.addToWishList .wishListNotice {
visibility: hidden;
  font-size: 2vh;
  width: 240px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -120px;
  opacity: 0;
  transition: opacity 0.3s;
}

.addToWishList .wishListNotice::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;

}

.addToWishList .youCanSeeMe {
  visibility: visible;
  opacity: 1;
}

.productInfoContainer {
  margin: 2% auto;
  color: var(--text-primary);
  background-color: var(--background);
  width:90%;
  border: 2px solid var(--secondary);
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
}
.sellersContainer {
  color: var(--text-primary);
  background-color: var(--background);
  text-align: left;
  width:90%;
  margin:auto;
}
.productImageContainer{
  display: flex;
  flex-direction: column;
}
.productImage{
  width: 100%;
  max-width: 300px;
}

.productDesc{
  color: var(--text-primary);
  text-align: left;
  padding:10px;
}

.review-link{
  background-color: transparent;
  text-decoration: none;
  color: #31a4ec;
  border:none;
  padding-top: 5px;
  margin:auto;
}
.review-link:hover{
  color: var(--yellow);
}

.reviews {
  color: var(--text-color);
  width:90%;
  margin:20px auto;
  text-align: left;
}
.review-card{
  width:80%;
  margin:2% auto;
}

.button{
  margin-top: 5px;
  padding: 10px 20px;
  color: white;
  background-color: var(--orange);
  border: none;
  border-radius: 5px;
}

.blue-button{
  background-color: var(--blue);
}
.blue-button:hover, .orange-button:hover, .grey-button:hover{
  background-color: var(--yellow);
}

.orange-button{
  background-color: var(--orange);
}

.yellow-button{
  background-color: var(--yellow);
}

.yellow-button:hover{
  background-color: var(--orange);
}

.grey-button{
  background-color: var(--lightgrey);
}

.stacked{
  display: block;
  margin:5px auto;
}

.average-rating {
  font-size: 2.5vh;
  margin-top: 1vh;
  margin-bottom: 1vh;
}

.addToCart {
  display: block;
}

.product-card{
  width:100%;
  max-width: 300px;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid var(--background);
  background-color: var(--background);
}

.card-footer{
  display: flex;
  flex-direction: column;
  border-top: 1px solid var(--secondary);
  background-color: transparent;
  justify-content: center;
}
