@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

* {
    /* margin: 0;
    padding: 0; */
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif
}

.card {
    width:70%;
    max-width: 500px;
    margin: auto;
    border-radius: 20 px
}

/* p {
    margin: 0px
} */

.container .h8 {
    font-size: 30px;
    font-weight: 800;
    text-align: center
}

.btn.btn.btn-primary:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none
}

.btn.btn-primary:hover .fas.fa-arrow-right {
    transform: translate(15px);
    transition: transform 0.2s ease-in
}

.form-control {
    color: var(--text-secondary);
    background-color: var(--background);
    border: 2px solid var(--secondary);
    height: 60px;
    padding-left: 20px;
    vertical-align: middle;
    /* text-align: center; */
}

.form-control:focus {
    color: var(--text-primary);
    background-color: var(--background);
    border: 2px solid var(--orange);
    box-shadow: none
}

.text {
    font-size: 14px;
    font-weight: 600
}

::placeholder {
    font-size: 14px;
    font-weight: 500
}