





/*Final Admin Tech Button*/

.admin-tech-panel-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Final Two Way Chat Modal*/

.chatUsername {
    text-align: center;
}
