#product1{
  text-align: left;
}
#product1 .pro-container{
  display: flex;
  justify-content: space-between;
  padding-top: 25px;
  flex-wrap: wrap;
  border: 15px solid #169c2a;


}
#product1 .pro{
  width: 18%;
  min-width: 250px;
  padding: 10px 12px;
  border: 15px solid #169c2a;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgba(0,0,0,0.06);
  margin: 15px 0;
  transition: 0.2s ease;
  position: relative;
}
#product1 .pro:hover{
  box-shadow: 20px 20px 30px rgba(0,0,0,0.02);

}

#product1 .pro img{
  width: 100%;
  border-radius: 100px;
}
#product1 .pro .des{
  text-align: start;
  padding: 10px 10px;
}
#product1 .pro .des span{
  color: #088178;
  font-size: 12px;
}
#product1 .pro .des h5{
  padding-top: 7px;
  color: #1a1a1a;
  font-size: 14px;
}
#product1 .pro .cart{
  width:40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50px;
  background-color:lightcyan;
  font-weight: 500;
  color:chocolate;
}

.footer-info {
  padding: 1em;
  color: var(--orange);
}

.image-container {
  text-align: left;
  margin: none;
}

.textarea {
  height: 200px;
}