.form-control:read-only {
    background-color: black;
    font-size: 20px;
    color: white;

}

.card {
    color: black;
}

.button1 {
    margin: 5px;
    padding: 5px;
}

.cart-padding {
    padding-top: 20px;
}

.payment-plan {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
}