/**/
/* SEARCHBAR */
/* Searchbar Buttons */
.btn {
  background-color: var(--accent);
  margin-left: 0px;
  margin-top: 0px;
  border: 2px solid var(--accent);
  color: white;
}
/* .navbar-brand {
  width: 60%;
  margin-left: 20px;
} */

.searchForm {
  text-align: left;
  overflow: hidden;
  padding-right: 0.5em;
  width: 100%;
  /* margin-left: 20px; */
}

.searchBtn {
  padding: 5px 10px;
  border: none;
  outline: none;
  color: var(--text-primary);
  border-radius: 10%;
  border-top-right-radius: 25%;
  border-bottom-right-radius: 25%;
  font-family: var(--RanchoFont);
  opacity: 45%;
  box-shadow: -1px -1px 3px #f4f4f4, 0.5px 0.5px 4px #737373;
  transition: background 0.1s, color 0.1s;
  background: linear-gradient(145deg, #f4f4f4, #cecece);
}
.searchBtn:hover {
  background: linear-gradient(145deg, #f4f4f4, #cecece);
  color: var(--accent);
  opacity: 90%;
  border: none;
  outline: none;
}

.floatingInput {
  font-size: 18px;
  color: var(--accent);
  opacity: 70%;
  justify-content: space-between;
  width: 100%;
}
.floatinglabel {
  color: var(--text-secondary);
  opacity: 40%;
  text-align: left;
  width: 100%;
  border-radius: 10px;
  border: none;
  box-shadow: -3px -3px 5px #f4f4f4, 2px 2px 6px #737373;
  transition: background 0.1s, color 0.1s;
  background: linear-gradient(145deg, #f4f4f4, #cecece);
  background-color: var(--secondary);
}
.floatinglabel:hover {
  background: linear-gradient(145deg, #f4f4f4, #cecece);
  color: var(--accent);
  font-weight: bold;
}