.App {
    text-align: center;
    color: var(--text-primary);
    background-color: var(--background);
    transition: all .5s;
    min-height: 100vh;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}
.cardImg {
    width: 100%;
}
/**/
/* color theme toggle */
input[type="checkbox"] {
    position: relative;
    width: 120px;
    height: 40px;
    -webkit-appearance: none;
    background: linear-gradient(0deg, #333, #000);
    outline: none;
    border-radius: 20px;
    box-shadow: 0 0 0 4px #353535, 0 0 0 5px #3e3e3e,
        inset 0 0 10px var(--secondary), 0 5px 20px var(--secondary), inset 0 0 15px var(--secondary);
}

input:checked[type="checkbox"] {
    background: linear-gradient(0deg, #333, #000);
    box-shadow: 0 0 2px var(--lightgrey), 0 0 0 4px #353535, 0 0 0 5px #3e3e3e,
        inset 0 0 10px var(--secondary), 0 5px 20px var(--secondary), inset 0 0 15px var(--secondary);
}

input[type="checkbox"]:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 80px;
    height: 40px;
    background: linear-gradient(0deg, #000, #6b6b6b);
    border-radius: 20px;
    box-shadow: 0 0 0 1px #232323;
    transform: scale(.98, .96);
    transition: .5s;
}

input:checked[type="checkbox"]:before {
    left: 40px;
}

input[type="checkbox"]:after {
    content: '';
    position: absolute;
    top: calc(50% - 2px);
    left: 65px;
    width: 4px;
    height: 4px;
    background: linear-gradient(0deg, #6b6b6b, #000);
    border-radius: 50%;
    transition: .5s;
}

input:checked[type="checkbox"]:after {
    background: var(--orange);
    left: 105px;
    box-shadow: 0 0 5px var(--secondary), 0 0 15px var(--secondary);
}

  /* cards -- sets card background to match color theme */
#shop-card .card {
    padding:10px;
    color: var(--text-primary);
    background: var(--background) !important;
    box-shadow: 0 0 20px rgb(242, 105, 37, 0.4);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-header {
    color: var(--text-primary);
    background-color: var(--background);
}

.card-body {
    color: var(--text-primary);
    background-color: var(--background);
}

.card-title {
    color: var(--text-primary);
    background-color: var(--background);
}

.card-text {
    color: var(--text-primary);
    background-color: var(--background);
}

.footer-info {
    color: var(--orange);
}

.testIMG{
    object-fit: contain;
    max-height: 10rem;
}

.profile {
    height:48px;
    width:48px;
}
