body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
        "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: var(--text-primary);
    background-color: var(--background);
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

:root {
    --background: white;
    --secondary:rgb(221, 221, 221);
    --contrast: #474C55;
    --darker:rgb(202, 202, 202);
    --text-primary: black;
    --text-secondary: ;
    --accent: #72A4C2;
    --bs-black: black;
    --bs-white: white !important;
    --bs-body-bg: white !important;
    --orange: #F26925;
    --darkgrey: #474C55;
    --blue: #72A4C2;
    --yellow: #FCB414;
    --lightgrey: #B9B9BA;
  }
  [data-theme='dark'] {
    --background: #2b2e34;
    --secondary: #474C55 ;
    --contrast: #B9B9BA;
    --darker:#1e2024;
    --text-primary: white;
    --text-secondary: #B9B9BA;
    --accent: #72A4C2;
    --bs-black: white;
    --bs-white: #2b2e34 !important;
    --bs-body-bg: #2b2e34 !important;
    --orange: #F26925;
    --darkgrey: #474C55;
    --blue: #72A4C2;
    --yellow: #FCB414;
    --lightgrey: #B9B9BA;
  }

.error_rp_email {
    color:red;
}
.error_rp_email_reset {
    margin: 100px 0px;
}

a.text-reset{
    text-decoration: none;
    color:var(--orange) !important
}

.center{
    text-align: center;
}