.ProductCardContainer {
    width:90%;
    margin: 2% auto;
    padding: 2%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border: 2px solid var(--blue);
    background-color: rgb(114, 164, 194, .3);
}

.display-heading{
    padding-top:2%;
}
